<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox Credits</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PC9KFJ31NH');
    </script>

    <style>
        .credit-item {
            border: 0.4px solid #3333338c;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            align-items: center;
            height: 120px;
        }

        .profile-picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #111111;
            margin-right: 20px;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>

<body style="background-image: none">
    <div class="topbar">
        <div class="left-buttons">
            <a id="exit" onclick="exit()" style="display: none">
                <span style="font-weight: bold;"><i class="fas fa-sign-out-alt"></i> Exit</span>
            </a>
            <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-home"></i> Home</span>
            </a>
            <a id="games" href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-gamepad"></i> Games</span>
            </a>
            <a id="apps" href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-th"></i> Apps</span>
            </a>
        </div>
    
        <form id="form" class="center-form">
            <input autofocus autocomplete="off" class="search" id="search" placeholder="Equinox Credits" style="text-align: center;" disabled />
            <button type="submit" class="submit-button">
                <i class="fas fa-search searchicon"></i>
            </button>
        </form>
    
        <div class="right-section">
           <a id="util" href="/u" class="<%= path === '/u' ? 'nav-active' : 'nav-btn' %>">
              <span><i class="fas fa-wrench"></i> Utilities</span>
          </a>
            <a class="<%= path === '/s' ? 'nav-active' : 'nav-btn' %>" id="settings" href="/s" style="display: flex; justify-content: flex-end; margin-left: auto;">
                <span><i class="fas fa-cog"></i> Settings</span>
            </a>
            <a id="fullscreen" onclick="fullscreen()" style="display: none">
                <span><i class="fas fa-expand"></i> Full Screen</span>
            </a>
        </div>
    </div>

    <div class="games-body">
        <h3 class="category-heading" id="recent-txt"><img class="recent-img"
                src="https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/eqcreds.png" style="padding-left: 10px">
        </h3>
        <article class="card" style="height: 80%">
            <article class="grid">
                <div class="credit-item" style="height: 190px">
                    <div class="profile-picture"
                        style="background-image: url('https://avatars.githubusercontent.com/u/106162244?v=4'); height: 90px; width: 90px">
                    </div>
                    <div class="credit-info">
                        <div class="title">
                            wrownd
                            <p>Project Lead, Creative & Technical Director, Lead of Development</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="credit-item">
                    <div class="profile-picture"
                        style="background-image: url('https://hydragames.cc/img/hydra.svg'); height: 20px">
                    </div>
                    <div class="credit-info">
                        <div class="title">
                            Hydra Games
                            <p>Our official 3rd party for games on Equinox</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="credit-item">
                    <div class="profile-picture"
                        style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/gn (1).png');">
                    </div>
                    <div class="credit-info">
                        <div class="title">
                            GNHUSTGames
                            <p>Provided many of the other games that aren't on Hydra yet.</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="grid">


                <div class="credit-item" style="height: 180px">
                    <div class="profile-picture"
                        style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/wr.png');">
                    </div>
                    <div class="credit-info">
                        <div class="title">
                            Equinox Proxy
                            <p>Copyright &copy; WRND 2024 | Equinox and its assets are the intellectual property of WRND
                                and are protected by applicable laws.</p>
                        </div>
                    </div>
                </div>

            </article>
        </article>


    </div>
    </div>
    <script>
        (function (llwil) {
           var d = document,
              s = d.createElement('script'),
              l = d.scripts[d.scripts.length - 1];
           s.settings = llwil || {};
           s.src = "\/\/ourdifficulty.com\/c\/D\/9v6.bP2P5OlxSYW\/QZ9tNXTlMX0kNmTSYFxWOHSx0W1PMPzaQL1fNXjCIXwF";
           s.async = true;
           l.parentNode.insertBefore(s, l);
        })({})
     </script>
     <script>
           (function (olorwe) {
              var d = document,
                 s = d.createElement('script'),
                 l = d.scripts[d.scripts.length - 1];
              s.settings = olorwe || {};
              s.src = "\/\/glum-mortgage.com\/aTW\/5ow.YeWbdTlPQW2\/9TkYZ\/Tz9U6gbZ2_5mljSsWuQc9PNvTDMG0jN\/T_YsxPN_y\/0q1\/MPzeQe1HNgjfE\/4n";
              s.async = true;
              l.parentNode.insertBefore(s, l);
           })({})
     </script>
</body>

</html>