<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>New Tab</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

	<link rel="stylesheet" href="/assets/css/base.css" />
	<link rel="stylesheet" href="/assets/css/games.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<style>
		#video-box {
			position: fixed;
			bottom: 0;
			right: 0;
			width: 320px;
			height: 240px;
			background-color: black;
			z-index: 9999;
			display: none;
			/* Hide the video box initially */
		}

		#video {
			width: 100%;
			height: 100%;
		}
	</style>


	<meta name="robots" content="noindex, nofollow">
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>
	<script src="/assets/js/index.js" defer></script>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-PC9KFJ31NH');
	</script>

</head>

<body style="background-image: url(./assets/img/bg/bg.svg);">
	<div class="loading-screen" id="loadingScreen">
		<img class="loading-image">
		<div class="loading-text">Loading requested site...</div>
		<progress class="loading-progress" value="0" max="100" style="background-color: #ccc; height: 10px"></progress>
	</div>
	<div class="topbar">
		<div class="left-buttons">
			<a id="exit" onclick="exit()" style="display: none">
				<span style="font-weight: bold;"><i class="fas fa-sign-out-alt"></i> Exit</span>
			</a>
			<a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>">
				<span><i class="fas fa-home"></i> Home</span>
			</a>
			<a id="games" href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>">
				<span><i class="fas fa-gamepad"></i> Games</span>
			</a>
			<a id="apps" href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>">
				<span><i class="fas fa-th"></i> Apps</span>
			</a>
		</div>

		<form id="form" class="center-form">
			<input autofocus autocomplete="off" class="search" id="search" placeholder="Search Equinox Games"
				required />
			<button type="submit" class="submit-button">
				<i class="fas fa-search searchicon"></i>
			</button>
		</form>

		<div class="right-section">
			<a id="util" href="/u" class="<%= path === '/u' ? 'nav-active' : 'nav-btn' %>">
				<span><i class="fas fa-wrench"></i> Utilities</span>
			</a>
			<a class="<%= path === '/s' ? 'nav-active' : 'nav-btn' %>" id="settings" href="/s"
				style="display: flex; justify-content: flex-end; margin-left: auto;">
				<span><i class="fas fa-cog"></i> Settings</span>
			</a>
			<a id="fullscreen" onclick="fullscreen()" style="display: none">
				<span><i class="fas fa-expand"></i> Full Screen</span>
			</a>
		</div>
	</div>
	<div id="align" style="min-height: 100%;">
		<iframe id="ifr"></iframe>
	</div>
	<div class="games-body">

		<h3 class="category-heading" id="feat-text"><img class="promo-img" src="/assets/eqfeatured.png"></h3>

		<div class="games" id="featured">
		</div>
		<h3 class="category-heading" id="recent-txt"><img class="recent-img" src="/assets/eqrecent.png"></h3>
		<div class="games" id="recent">

		</div>
		<br><br>
		<br><br>
	</div>
	<script src="/assets/js/proxy.js"></script>
	<script src="/assets/js/games.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/assets/js/functions.js"></script>
	<script>
		(function (ayoja) {
			var d = document,
				s = d.createElement('script'),
				l = d.scripts[d.scripts.length - 1];
			s.settings = ayoja || {};
			s.src = "\/\/glum-mortgage.com\/acWr5owtY.W\/dhlZQU2r9PkeZYTa9S6\/be2l5wlES\/W-Qa9\/NmT\/Mp0QNFTZYwxINWy\/0s1\/MHzsQp1tNojFEn4p";
			s.async = true;
			l.parentNode.insertBefore(s, l);
		})({})
	</script>
	<script>
			(function (qedv) {
				var d = document,
					s = d.createElement('script'),
					l = d.scripts[d.scripts.length - 1];
				s.settings = qedv || {};
				s.src = "\/\/ourdifficulty.com\/cdDk9M6.bw2Q5UllSxWrQp9ANMTYMT0CNHT\/Yvx\/O_Sj0x1HMFzsQr1\/NwjLIQwp";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({})
	</script>


	<script>
			(function (pbdtg) {
				var d = document,
					s = d.createElement('script'),
					l = d.scripts[d.scripts.length - 1];
				s.settings = pbdtg || {};
				s.src = "\/\/glum-mortgage.com\/b\/X.V\/sadPGhld0ZYHW\/cG\/KeAm\/9wuZZeU\/l\/kfPETwUkziN_zwYE0\/OJD\/QUtWNCTNMo3tN\/jjQS4VNwQj";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({})
	</script>
</body>

</html>