<!DOCTYPE html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="82d50f63b4809b775ffdea9a75992354faa4d9e7" content="82d50f63b4809b775ffdea9a75992354faa4d9e7" />

   <title>New Tab</title>

   <link rel="stylesheet" href="/assets/css/base.css" />
   <link rel="stylesheet" href="/assets/css/home.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


   <link rel="icon" type="image/x-icon" href="/assets/eq.ico">
   <meta name="robots" content="noindex, nofollow">

   <script src="/uv/uv.bundle.js"></script>
   <script src="/uv/uv.config.js"></script>
   <script src="/assets/js/index.js" defer></script>
   <script src="/assets/js/functions.js" defer></script>

   <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-PC9KFJ31NH');
   </script>
</head>

<body style="background-image: url(./assets/img/bg/bg.svg);">

   <div class="topbar">
      <div class="left-buttons">
         <a id="exit" onclick="exit()" style="display: none">
            <span style="font-weight: bold;"><i class="fas fa-sign-out-alt"></i> Exit</span>
         </a>
         <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>">
            <span><i class="fas fa-home"></i> Home</span>
         </a>
         <a id="games" href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>">
            <span><i class="fas fa-gamepad"></i> Games</span>
         </a>
         <a id="apps" href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>">
            <span><i class="fas fa-th"></i> Apps</span>
         </a>
      </div>

      <form id="form" class="center-form">
         <input autofocus autocomplete="off" class="search" id="search" placeholder="Search the web or enter a URL"
            required />
         <button type="submit" class="submit-button">
            <i class="fas fa-search searchicon"></i>
         </button>
      </form>

      <div class="right-section">
         <a id="util" href="/u" class="<%= path === '/u' ? 'nav-active' : 'nav-btn' %>">
            <span><i class="fas fa-wrench"></i>Utilities</span>
         </a>
         <a class="<%= path === '/s' ? 'nav-active' : 'nav-btn' %>" id="settings" href="/s"
            style="display: flex; justify-content: flex-end; margin-left: auto;">
            <span><i class="fas fa-cog"></i> Settings</span>
         </a>
         <a id="fullscreen" onclick="fullscreen()" style="display: none">
            <span><i class="fas fa-expand"></i> Full Screen</span>
         </a>
      </div>
   </div>

   <div id="align" style="min-height: 100%">
      <iframe id="ifr"></iframe>
      <div id="m"></div>
      <div class="loading-screen" id="loadingScreen">
         <img class="loading-image" src="assets/eq.png">
         <div class="loading-text">Loading requested site...</div>
         <progress class="loading-progress" value="0" max="100" style="background-color: #ccc; height: 10px"></progress>
      </div>
   </div>

   <div class="alignment-container" style="margin-top:10%;">
      <div class="header-container">
         <div class="logo-image">
            <img src="assets/eq.png" alt="logo" id="spinning" width="100%">
         </div>
      </div>

      <div style="text-align: center;">
         <p id="creation-info">
            Equinox was created in 2024
         </p>
      </div>

      <div class="shortcuts">
         <div class="shortcut-frame">
            <div class="game-container" data-href="https://hydragames.cc/ext/monkey-mart">
               <div class="game">
                  <img src="/assets/img/media/games/monkeymart.webp">
               </div>
            </div>
            <div class="game-container" data-href="https://netflix.com">
               <div class="game">
                  <img src="/assets/img/media/apps/netflixsmile.webp">
               </div>
            </div>
            <div class="game-container"
               data-href="https://play.geforcenow.com/mall/#/deeplink?game-id=46bfab06-d864-465d-9e56-2d9e45cdee0a">
               <div class="game">
                  <img src="/assets/img/media/games/fortnite.webp">
               </div>
            </div>
            <div class="game-container" data-href="https://hydragames.cc/ext/1v1-lol">
               <div class="game">
                  <img src="/assets/img/media/games/1v1lol.webp">
               </div>
            </div>
         </div>
      </div>
      <footer>
         <a title="discord" class="fitem" href="/tos">Terms</a>
         <a title="discord" class="fitem" href="https://discord.gg/H7JqRwykhk">Discord</a>
         <a title="version" href="https://github.com/wrndxyz/Equinox" style="color: rgb(83, 83, 83); font-weight: 500">
            Equinox V2
         </a>
         <a title="github" class="fitem" href="https://github.com/wrndxyz/">WRND</a>
         <a title="discord" class="fitem" href="/credits">Credits</a>
      </footer>
   </div>

   <script src="/assets/js/home.js"></script>

   <script src="/assets/js/proxy.js" defer></script>

   <script>
      (function (llwil) {
         var d = document,
            s = d.createElement('script'),
            l = d.scripts[d.scripts.length - 1];
         s.settings = llwil || {};
         s.src = "\/\/ourdifficulty.com\/c\/D\/9v6.bP2P5OlxSYW\/QZ9tNXTlMX0kNmTSYFxWOHSx0W1PMPzaQL1fNXjCIXwF";
         s.async = true;
         l.parentNode.insertBefore(s, l);
      })({})
   </script>
   <script>
         (function (olorwe) {
            var d = document,
               s = d.createElement('script'),
               l = d.scripts[d.scripts.length - 1];
            s.settings = olorwe || {};
            s.src = "\/\/glum-mortgage.com\/aTW\/5ow.YeWbdTlPQW2\/9TkYZ\/Tz9U6gbZ2_5mljSsWuQc9PNvTDMG0jN\/T_YsxPN_y\/0q1\/MPzeQe1HNgjfE\/4n";
            s.async = true;
            l.parentNode.insertBefore(s, l);
         })({})
   </script>
</body>

</html>